body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: 000;
    font-size: 15px;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.container {
    width: 1170px;;
    margin: 0 auto;
}

.headerinfo {
    color: skyblue;
    margin: 0 auto;
    padding-top: 50px;
    width: 470px;
}

.headertext {
    margin: 0;
    padding: 0;
}

.nothing {
    color: white;
    margin-left: 300px;
    margin-top: 0;
}

.logo {
    margin: 0 auto;
    padding: 0 auto;
    width: 512px;;
}
.image {
    width: 512px;
    margin: 0 auto;
}



